.gamediv{
	width:500px;
	height:400px;
	background-color: pink;
}
.mario{
	width:50px;
	margin-left: 100px;
}
.control{
	text-align: center;
	margin-left: 170px;
	border:1px solid;
}
.body{
	margin-left: 500px;
	margin-top: 50px;
}